.App-Header-Row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0a0661; /* Light blue */
  padding: 10px 20px;
  font-size: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.App-Header-Row h2 {
  margin: 0;
  font-size: 24px;
  color: #cbdef1;
}

.App-Header-Links {
  display: flex;
  gap: 15px;
  align-items: center;
}

.App-Header-Links a {
  text-decoration: none;
  color: #bed4ea;
  font-weight: bold;
  transition: color 0.3s ease;
}

.App-Header-Links a:hover {
  color: #f9f4f4;
}
