/* Container for all products */
.product-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
  }
  
  /* Styling for each product card */
  .product-card {
    background: #f8f9fa;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
  }
  
  /* Button Styling */
  .add-cart-btn {
    background-color: #949ea9;
    color: white;
    border: 5px;
    padding: 10px 15px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
  }
  
  